<<<<<<< HEAD
.ring {
  height: 10px;
  width: 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  display: inline-block;
}

.tühiring {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 50%;
  display: inline-block;
}
=======
body {
  background-image: url(pildid/deltaesine2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  }
  
  p {
  text-align: justify;
  margin: 50px;
  }
>>>>>>> master
