body {
    background-image: url(pildid/deltaesine.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(15px);
}

h1 {
text-align: center;
}

p {
text-align: justify;
margin: 50px;
}
