* {
    box-sizing: border-box;
}

body {
    background-image: url(pildid/deltaesine2.jpg);
    background-attachment: fixed;
    background-size: cover;
}


.column {
    float: left;
}

.esimene {
    width: 10%;
}

.teine {
    width: 50%;
}

.kolmas {
    width: 40%;
}

table {
    display: inline;
    top: 250px;
    left: 0px;
    margin: 0px;
} 