body {
    background-image: url(pildid/deltaesine.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(15px);
}

h1 {
text-align: center;

}

.pealkiri {
    position: absolute;
    top: 10px;
    left: 200px;
}

.tekstikast {
    top: 0px;
    right: 0px;
}

table {
    top: 0px;
    right: 0px;
}

p {
text-align: justify;
margin: 50px;
}

.slideshow-kast {
    right: 0px;
    top: 0px;
}

.nupud {
    right: 0px;
    top: 0px;
}