body{   
    color: white;
    font-family: "Arial Narrow";
    background-color: gray;
}

.peamenüü {
    float: left;
    list-style: none;
    line-height: 70px;
    padding-left: 10px;
}

.peamenüü li a {
    color: white;
    font-family: "Arial Narrow";
    font-stretch: extra-condensed;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.peamenüü li a:hover {
    border: 1px solid white;
}