* { 
    margin: 0;
    padding: 0;
}

body {
    background-image:linear-gradient(90deg, rgba(0,0,0,0.6255544454109769) 3%, rgba(0,0,11,0) 54%), 
    url(delta.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-weight: bolder;
    font-stretch: extra-condensed;
    text-align: center;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -350px;
}

h2 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: -50px;
    margin-left: -275px;
}

div.alakiri {
    font-stretch: extra-condensed;
    position: absolute;
    font-weight: 200;
    font-size: 20px;
    bottom: 0;
}

div.infokast {
    background-color: rgba(209, 209, 209, 0.322);
    backdrop-filter: blur(3px);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
  }

div.infokast p {
    margin: 5%;
    font-weight: bold;
    font-family: "Arial Narrow";
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top: 10px;
  }
