
* { 
    margin: 0;
    padding: 0;
}

body {
    background-image:linear-gradient(90deg, rgba(0,0,0,0.6255544454109769) 3%, rgba(0,0,11,0) 54%), 
    url(delta.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
/* }
div.infokast {
    background-color: #ffffff;
    opacity: 0.6;
    height: 50px;
    bottom: 0px;
  } */
  
div.infokast p {
    margin: 5%;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }
  
h1 {
    color: white;
    font-family: "Arial Narrow";
    font-weight: bolder;
    font-stretch: extra-condensed;
    text-align: center;
    font-size: 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -275px;
}

.peamenüü {
    float: left;
    list-style: none;
    line-height: 70px;
    padding-left: 10px;
}

.peamenüü li a {
    color: white;
    font-family: "Arial Narrow";
    font-stretch: extra-condensed;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.peamenüü li a:hover {
    border: 1px solid white;
}